<?xml version="1.0" encoding="UTF-8"?>
<module version="2.0">
    <meta>
        <identity>
            <uri>urn:uk:co:rsbatechnology:lang:graalvm</uri>
            <version>0.0.1</version>
        </identity>
        <info>
            <name>Lang / GraalVM</name>
            <description>GraalVM language runtime</description>
        </info>
    </meta>

	<rootspace name="Lang / GraalVM" uri="urn:uk:co:rsbatechnology:lang:graalvm" public="true">

		<accessor>
			<id>GraalVMRuntime</id>
			<name>GraalVM</name>
			<description>GraalVM Runtime</description>
			<grammar>
				<active>
					<identifier>active:graalvm</identifier>
					<argument name="operator" min="1" max="1" desc="Script to execute"/>
					<argument name="graalvm-language" min="1" max="1" desc="GraalVM language"/>
					<varargs/>
				</active>
			</grammar>
			<class>uk.co.rsbatechnology.lang.graalvm.GraalVMRuntime</class>
			<icon>res:/uk/co/rsbatechnology/lang/graalvm/doc/icon.png</icon>
		</accessor>
				
	</rootspace>

	<rootspace name="Lang / GraalVM / Examples" uri="urn:uk:co:rsbatechnology:lang:graalvm:examples" public="true">
	
		<literal type="string" uri="res:/js/script">
		    nkContext = Polyglot.import("context");
			let str = nkContext.source("res:/dummy");
			nkContext.createResponseFrom(str);
		</literal>
		
		<literal type="string" uri="res:/r/script">
			<![CDATA[
			    nkContext <- import('context');
				str <- nkContext$source("res:/dummy");
				nkContext$createResponseFrom(str);
			 ]]>
		</literal>
				
		<literal type="string" uri="res:/python/script">
			<![CDATA[
import polyglot
nk_context = polyglot.import_value('context')
str = nk_context.source("res:/dummy")
nk_context.createResponseFrom(str)
			 ]]>
		</literal>				
			
		<literal type="string" uri="res:/ruby/script">
			<![CDATA[
				nkContext = Polyglot.import("context")
				str = nkContext.source("res:/dummy");
				nkContext.createResponseFrom(str);
			 ]]>		
		</literal>
			
		<literal type="string" uri="res:/dummy">
		    Hello from GraalVM!
		</literal>
		
		<fileset>
			<glob>resources/*.bc</glob>
		</fileset>
		
		<import>
			<uri>urn:uk:co:rsbatechnology:lang:graalvm</uri>
		</import>	
	
	</rootspace>

</module>
